@import-normalize;
@import "font.css";
@import "button.css";

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* background-color: hsl(90, 100%, 50%); */
}

body {
  margin: 0;
  padding: 0;
}

.mr-1 {
  margin-right: 5px;
}
