@import-normalize;
@import "font.css";
@import "button.css";
@import "home.css";
@import "words.css";
@import "quiz.css";

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* background-color: hsl(90, 100%, 50%); */
}

body {
  margin: 0;
  padding: 0;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.is-active {
  color: hsl(30, 100%, 50%);
}

input {
  outline: none;
  border: 1px solid hsl(30, 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.1rem;
}

nav {
  border-bottom: 2px solid hsl(30, 100%, 50%);
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* column-gap: 10px; */
  justify-content: center;
}

nav > ul li {
  padding: 10px;
}

nav > ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav > ul li a:hover {
  /* background-color: red; */
  text-decoration: none;
  color: hsl(30, 100%, 40%);
  font-weight: bold;
}
