.btn {
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--primary {
  color: white;
  background: hsl(30, 100%, 50%);
}

.btn--primary:hover {
  background: hsl(30, 100%, 35%);
}

.btn--success {
  color: white;
  background: hsl(120, 100%, 35%);
}

.btn--success:hover {
  color: white;
  background: hsl(120, 100%, 25%);
}

.btn--danger {
  color: white;
  background: hsl(0, 100%, 50%);
}

.btn--danger:hover {
  color: white;
  background: hsl(0, 100%, 50%);
}

.btn--danger--outlined {
  color: black;
}

.btn--danger--outlined:hover {
  color: hsl(0, 100%, 50%);
}

.btn--xm--rounded {
  padding: 2px 4px 0px 4px;
  border-radius: 50%;
}
