.btn {
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background: hsl(200, 100%, 50%);
}

.btn--primary:hover {
  background: hsl(200, 100%, 35%);
}

.btn--danger {
  color: white;
  background: hsl(700, 100%, 50%);
}

.btn--danger:hover {
  color: white;
  background: hsl(700, 100%, 35%);
}
