.home-container {
  margin-top: 50px;
}

.home-image-container {
  display: grid;
  place-items: center;
  padding-top: 20px;
}

.home-image-container img {
  max-width: 290px;
}

a {
  text-decoration: underline;
  color: hsl(30, 100%, 50%);
  font-weight: bold;
}