.quiz {
  display: flex;
  justify-content: center;
}

.quiz-container {
  padding: 30px 20px;
  max-width: 700px;
}

.question-selector {
  text-align: center;
}

.question-selector__input-container {
  margin-bottom: 15px;
}

.question-selector__input-container label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}

.question-selector__input-container select {
  outline: none;
  border: 2px solid hsl(30, 100%, 50%);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.quiz-number {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.quiz-control {
  display: flex;
  flex-direction: column;
}

.quiz-control input {
  width: 100%;
  border-width: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.quiz-control button {
  border-radius: 0;
}

.quiz-result table {
  border: 1px solid hsl(30, 100%, 50%);
  border-collapse: collapse;
}

.quiz-table {
  border-collapse: collapse;
  width: 100%;
}

.quiz-table td,
.quiz-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.quiz-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.quiz-table tr:hover {
  background-color: #ddd;
}

.quiz-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(30, 100%, 65%);
  color: white;
}

.quiz-score {
  margin: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.quiz-container__start-again-btn-container {
  text-align: center;
}

.quiz-result-status-correct {
  color: hsl(120, 100%, 30%);
}

.quiz-result-status-incorrect {
  color: hsl(0, 100%, 50%);
}

.quiz-instructions {
  margin-bottom: 35px;
}

.quiz-instructions ul {
  list-style: square inside;
}

.quiz-instructions li {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 10px;
}

.quiz-instructions li span {
  border: 1px solid black;
  padding: 3px 5px;
}
